In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
s=df['Name'][0:5]

In [5]:
len(s)

5

In [6]:
s[0:10]

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [7]:
type(s)

pandas.core.series.Series

In [8]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [9]:
l=['a','b','c','d','e']

In [10]:
s1=pd.Series(list(s),index=l)

In [11]:
s[0]

'Braund, Mr. Owen Harris'

In [12]:
s1[0]

'Braund, Mr. Owen Harris'

In [13]:
s1['a']

'Braund, Mr. Owen Harris'

In [14]:
s2=s.append(s1)

/tmp/ipykernel_95/2474463794.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s.append(s1)

In [15]:
s2[4]

'Allen, Mr. William Henry'

In [20]:
s4=pd.Series([2,3,4,5,6], index=[1,2,3,4,5])

In [21]:
s5=pd.Series([33,23,43,53,63],index=[6,7,8,9,10])

In [23]:
s6=s4.append(s5)

/tmp/ipykernel_95/884104408.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6=s4.append(s5)

In [24]:
s6

1      2
2      3
3      4
4      5
5      6
6     33
7     23
8     43
9     53
10    63
dtype: int64

In [27]:
s6[1]

2

In [28]:
s6[0:5]

/tmp/ipykernel_95/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

1    2
2    3
3    4
4    5
5    6
dtype: int64

In [29]:
s4*s5

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
dtype: float64

In [31]:
s4+s5

1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
dtype: float64